/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

/* Main CSS */
:root {
  font-size: 3pt;
}

/* ::scrollbar {
  width: 3rem;
}

::scrollbar-track {
  background-color: #f1f1f1;
}

::scrollbar-thumb {
  background: #888;
}

::scrollbar-thumb:hover {
  background: #555;
} */

* {
  box-sizing: border-box;
}

a > img {
  filter: brightness(100%);
  transition: filter 0.7s ease;
}

a > img:hover {
  filter: brightness(85%);
  transition: filter 0.9s ease;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.site-stuff {
  background-color: #3d3d3d;
  position: relative;
}

figcaption {
  color: #e5e5e5;
  left: 0;
  padding: 5rem;
  position: absolute;
  top: 0;
}

h1, h6 {
  color: #e5e5e5;
  font-family: 'Cabin', 'Arial', sans-serif;
  font-size: 6rem;
  font-weight: 100;
  margin: 0;
}

figcaption > h6 {
  font-size: 4rem;
}

img {
  width: 100%;
}

.image-outer {
  margin: 3rem 5rem;
  position: relative;
}

small {
  color: #ffd503;
  font-family: 'Crimson Pro', 'Times New Roman', serif;
  font-size: 1vw;
  line-height: 1.05vw;
  text-align: right;
  white-space: nowrap;
}

span {
  color: #e5e5e5;
  font-family: 'Cabin', 'Arial', sans-serif;
  font-size: 9vw;
  font-weight: normal;
  line-height: 9.5vw;
  margin: 0;
  white-space: nowrap;
  width: auto;
}

sup {
  color: #ffd503;
  font-family: 'Crimson Pro', 'Times New Roman', serif;
  font-size: 2vw;
}

#four {
  padding-left: 3rem;
}

#lineTwo {
  position: relative;
}

#lineTwo > small {
  bottom: 0;
  padding-bottom: 3.375rem;
  position: absolute;
}

#top {
  cursor: url("../brand/pointerDown.svg"), n-resize;
  height: 55vw;
  margin: 0 0 0 5rem;
}

#top > #container {
  position: fixed;
  width: 100%;
}

.grid {
  margin: 0;
}

.grid__col {
  clear: both;
  padding: 0;
}

.grid__col:last-of-type {
  margin-bottom: 3rem;
}


.grid__col > sup {
  font-size: 1.1vw;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* media queries  */
@media screen and (max-width: 1440px) {
  #lineTwo small, sup {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  figcaption > h1 {
    font-size: 4rem;
  }

  figcaption > h6 {
    font-size: 3rem;
  }

  .grid__col:last-of-type > .image-outer {
    margin: 0 5rem;
  }
}
