/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

/* Main CSS */
:root {
  font-size: 3pt;
}

/* ::scrollbar {
  width: 3rem;
}

::scrollbar-track {
  background-color: #f1f1f1;
}

::scrollbar-thumb {
  background: #888;
}

::scrollbar-thumb:hover {
  background: #555;
} */

* {
  box-sizing: border-box;
}

a > img {
  filter: brightness(100%);
  transition: filter 0.7s ease;
}

a > img:hover {
  filter: brightness(85%);
  transition: filter 0.9s ease;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.site-stuff {
  background-color: #3d3d3d;
  box-shadow: 0rem 0rem 6rem 1rem rgba(0,0,0,.8);
  margin-bottom: 14vh;
  position: relative;
}

figcaption {
  color: #e5e5e5;
  left: 0;
  padding: 5rem;
  position: absolute;
  top: 0;
}

h1, h6 {
  color: #e5e5e5;
  font-family: 'Cabin', 'Arial', sans-serif;
  font-size: 6rem;
  font-weight: 100;
  margin: 0;
}

figcaption > h6 {
  font-size: 4rem;
}

footer {
  background-color: #ffd503;
  bottom: 0;
  color: #3d3d3d;
  font-family: 'Crimson Pro', 'Times New Roman', serif;
  font-size: 8rem;
  font-weight: normal;
  height: 14vh;
  padding: 3vh 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.footer-stuff {
  margin-left: 5rem;
  text-transform: uppercase;
}

.footer-stuff > ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 2rem;
}

li:first-of-type {
  padding-left: 0;
}

a {
  color: #3d3d3d;
  text-transform: none;
}

img {
  width: 100%;
}

.image {
  box-shadow: 0rem 0rem 9rem 1rem rgba(0,0,0,0.5);

  margin: 3rem 5rem;
  position: relative;
}

small {
  color: #ffd503;
  font-family: 'Crimson Pro', 'Times New Roman', serif;
  font-size: 4.5rem;
  text-align: right;
}

span {
  color: #e5e5e5;
  font-family: 'Cabin', 'Arial', sans-serif;
  font-size: 45rem;
  font-weight: normal;
  line-height: 45rem;
  margin: 0;
  width: auto;
}

sup {
  color: #ffd503;
  font-family: 'Crimson Pro', 'Times New Roman', serif;
  font-size: 10rem;
}

#four {
  padding-left: 3rem;
}

#lineTwo {
  position: relative;
}

#lineTwo > small {
  bottom: 0;
  padding-bottom: 3.375rem;
  position: absolute;
}

#top {
  height: 96vh;
  margin: 0 0 0 5rem;
  pointer-events: none;
}

#top > #container {
  position: fixed;
  width: 100%;
}

.grid {
  margin: 0;
}

.grid__col {
  padding: 0;
}

.grid__col:last-of-type {
  margin-bottom: 3rem;
}

.grid__col > sup {
  font-size: 4rem;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries */
/* @media(max-width: 960px) {
  .content {
    width: auto;
  }
}

@media(max-width: 1440px) and (max-width: 1980px) {

} */
